# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/

# JSON data files generated or committed by mistake
sdr_scanner/*.json

# Pytest cache
.pytest_cache/
